<div>
  <div>
    <h1>Angular Session</h1>
    <br>
    <hr>
  </div>
  <div>
    <app-grid [prod]="myproduct" 
              (eap)="AddProduct($event)"
              (erp)="RemoveProduct($event)">
    </app-grid>
    <br>
    <hr>
  </div>
  <div>
    <app-child [name]="content"></app-child>
    <br>
  </div>
  <div>
    <h2>Inter Polation / One way data Binding</h2>
    <h3>{{ title }}</h3>
    <input type="text" [value]="title" />
    <br>
    <br>
    <img [src]="hUrl" />
    <br>
    <hr>

  </div>
  <div>
    <h2>Inter Polation / Two way data Binding</h2>
    <h3>{{myName}}</h3>
    <input type="text" [(ngModel)]="len" />
    <br>
    <hr>
  </div>
  <div class="row">
    <div class="column">
      
      <ul>
        <h4>Capitals in India</h4>
        <li *ngFor="let c of myCities; let i=index">
          {{i}} -> {{c.cId}}: {{c.cName}} ( {{c.state}} )
        </li>
      </ul>
      <br>
      <hr>
    </div>
    <div *ngIf="myCities.length>len" class="column">
      <h4>Looping in Angular</h4>
      <input *ngIf="sCity" value="The selected City is {{sCity.cName}} -> {{sCity.state}}" size="50px">
      <div *ngFor="let city of myCities" [class.selected]="city==sCity" (click)="handlesCityList(city)">
        {{city.cId}} - {{city.cName}} - {{city.state}}
      </div>
      <br>
      <hr>
    </div>
  </div>
  <div>
    <hr>
    <h4>Event Binding</h4>
    <hr>
    <p>Key Enter</p>
    <input (keyup)="onkeyentry($event)"/>{{word2}}
    <br>
    <p>Key Enter</p>
    <input (keyup.enter)="onkeyenter($event)"/>{{word}}
    <br>
    <p>Key Shift+A</p>
    <input (keyup.shift.A)="onkeyshift($event)"/>{{word1}}
    <br>
    <button (click)="onclickbutton()">Add</button>
    <p>{{text}}</p>
    <hr>
  </div>
  <div>
    <h4>Template reference variable</h4>
    <br>
    <input type="text" [value]="mail" #mltmp />
    <button (click)="oneference(mltmp.value)">Get Mail</button>
    <!-- <p>{{mail}}</p> -->
  </div>
</div>